html, body { height: 100%; width: 100%; margin: 0; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 800px;
}

.grey {
	background-color: #d9d9d7;
}

.back {
	position: fixed;
	top: 0px;
	left: 20px;
	font-size: 50px;
}

.container {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	min-height:666px;
	max-height: calc(66.666vw);
	max-width: calc(250vh);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.clickable {
	background-color: none;
	position: relative;
	display: block;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.slaapkamer {
	background-image: url("fotos/slaapkamer/slaapkamer.jpg");
	background-position: center;
}

.a_slaapkamer_kratten {
	top: 9%;
    left: 2%;
    height: 90%;
    width: 41%;
}

.a_slaapkamer_deur {
	top: -90%;
    left: 44%;
    height: 64%;
    width: 20%;
}

.a_slaapkamer_bed {
    top: -115%;
    left: 65%;
    height: 60%;
    width: 35%;
}

.slaapkamer_bed {
	background-image: url("fotos/slaapkamer/bed_slaapkamer.jpg");
}

.slaapkamer_kratten{
	background-image: url("fotos/slaapkamer/kratten_slaapkamer.jpg");
}


.woonkamer {
	background-image: url("fotos/woonkamer/woonkamer.jpg");
}

.a_woonkamer_tablet {
    top: 41%;
    left: 29%;
    height: 12%;
    width: 9%;
}

.a_woonkamer_fotos {
    top: 34%;
    left: 41%;
    height: 15%;
    width: 13%;
}

.a_woonkamer_raam {
	top: -12%;
    left: 63%;
    height: 31%;
    width: 37%;
}

.woonkamer_raam {
	background-image: url("fotos/woonkamer/raam_woonkamer.jpg");
	background-position: center;
}

.woonkamer_tablet {
	background-image: url("fotos/woonkamer/tablet_woonkamer.jpg");
	background-position: center;
}

.woonkamer_fotos {
	background-image: url("fotos/woonkamer/tafel_woonkamer.jpg");
	background-position: center;
}

.white {
	color: white !important;
}


.index {
	background-image: url("fotos/index/achtergrond.jpg");
	background-position: center;
}


.a_woonkamer {
	top: 20%;
    left: 15%;
    height: 56%;
    width: 24%;	
}

.a_slaapkamer {
	left: 41%;
    top: -29%;
    height: 55%;
    width: 29%;
}

.a_badkamer {
	top: -90%;
    left: 72%;
    height: 61%;
    width: 8%;
}

.video_wrapper {
	height: 100%;
	width: 100%;
	text-align: center;
}

.woonkamer_video {
	display: inline-block;
	margin-top: 11%;
	width: 500px;
	height: 500px;
}

.badkamer {
	background-image: url("fotos/badkamer/badkamer.jpg");
}

.a_badkamer_beginmaart {
	top: 27%;
    left: 32%;
    width: 8%;
    height: 28%;
}

.a_badkamer_maart {
    top: -28%;
    left: 45%;
    height: 14%;
    width: 4%;
}

.a_badkamer_mei {
	top: 17%;
    left: 39%;
    height: 12%;
    width: 5%;
}

.a_badkamer_beginapril {
	    top: 21%;
    left: 44%;
    height: 15%;
    width: 7%;
}

.a_badkamer_april {
	top: -30%;
    left: 59%;
    height: 15%;
    width: 4%;
}

.badkamer_beginmaart {
	background-image: url("fotos/badkamer/beginmaart.jpg");
}

.badkamer_beginapril {
	background-image: url("fotos/badkamer/beginapril.jpg");
}


.badkamer_april {
	background-image: url("fotos/badkamer/april.jpg");
	max-width: calc(200vh);
}

.badkamer_maart {
	background-image: url("fotos/badkamer/maart.jpg");
}

.badkamer_mei {
	background-image: url("fotos/badkamer/mei.jpg");
}

.a_badkamer_gootsteen {
    left: 59%;
    top: -4%;
    height: 19%;
    width: 15%;
}

.badkamer_gootsteen {
	background-image: url("fotos/badkamer/gootsteen.jpg");
}

.badkamer_video {
	display: inline-block;
	margin-top: 13%;
	width: 500px;
	height: 281.25px;
}

.a_woonkamer_tablet_oma { 
    top: 30%;
    left: 39%;
    height: 3.5%;
    width: 8.5%;
}

.a_woonkamer_tablet_mam {
	top: 30%;
    left: 39%;
    height: 3.5%;
    width: 8.5%; 
}

.a_woonkamer_tablet_tessa { 
	top: 30%;
    left: 39%;
    height: 3.5%;
    width: 8.5%;
}

.a_woonkamer_tablet_joke { 
	top: 30%;
    left: 39%;
    height: 3.5%;
    width: 8.5%;
}

.tablet_video {
	display: inline-block;
    margin-top: 11.6%;
    width: 343px;
    height: 451.25px;
    margin-left: -1%;
}


.title_wrapper { 
	text-align: center;
	width: 100%;
	
}

.title {
	width: 30%;
    margin-top: 2%;
}

.info_wrapper {
	bottom: 1%;
    position: fixed;
    left: 2%;
    width: 100%;
}

.a_info {
	width : 5%
	
}

.img_info {
	width : 100%
}

.info {
	background-image: url("fotos/index/info_achtergond.jpg");
}

.info_text_wrapper {
	text-align: center;
    width: 100%;
	top: 33%;
	position: relative;
}

.info_text {
	width:40%;
}

.author_wrapper {
	bottom: 1%;
    position: fixed;
    right: 2%;
    width: 100%;
	text-align: right;
}

.img_author {
	width: 10%;
}

.kratten_video {
    display: inline-block;
    margin-top: 13%;
    width: 444px;
    height: 364px;
    margin-left: -2.5%;
}

